# 国内镜像加速
registry=https://registry.npmmirror.com

# 流水线专用：直接放行指定包构建脚本（pnpm 10.32+支持）
allowed-dep-scripts=esbuild,vue-demi

# 自动安装peer依赖，消除版本警告
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false

# 供应链锁文件校验（和你日志里校验逻辑匹配）
verify-lockfile=true
lockfile-version=9

# 日志输出简化
loglevel=info